.messages {
    border-top:thick double #000000;
    height:300px;
}

.msg {
	border:1px solid #000;
	background: #FFFFCC;
	padding:2px;
	word-wrap: break-word;
	text-align: center;
    z-index:-1;
}

.grey {
	color:#999;
}

.thread {
    position:absolute;
	width: 10%;
}

.selectedText {
    background:#FFFFCC;
}

body {
	margin:0;
	padding:0;
	border:0;
	width:100%;
	background:#fff;
	min-width:600px;
	font-size:90%;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}

#content {
    height:50%;
	overflow-y:scroll;
	text-align:justify;
}

#chat {
	border-top:1px solid #000;
	overflow-y:scroll;
    height: 40%;
	padding-top:10px;
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	height:100%;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	height:100%;
	position:relative;
}
.col1 {
	float:left;
	position:relative;
	padding:0 0 0 0;
    overflow-y:scroll;
	height:100%;
}

.col2,
.col3 {
	float:left;
	position:fixed;
	padding:0 0 0 0;
	height:100%;
}

/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
}
.leftmenu .colleft {
	right:73%;			/* right column width */
	background:#f4f4f4;	/* left column background colour */
}
.leftmenu .col1 {
	width:70%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:25%;			/* left column content width (column width minus left and right padding) */
	left:0%;			/* (right column left and right padding) plus (left column left padding) */
	padding: 1%;
	background:#f4f4f4;
}